.box.col-md-12
  .box-header
    h2 Pending invites
  .box-content

    table.table.table-striped.table-bordered
      thead
        th Email
        th
      tbody
        - @pending_invites.each do |invite|
          tr
            td= invite.sender.email
            td= link_to 'Accept friend', user_invite_path(current_user, invite, status: :accepted), method: :put, class: 'btn btn-primary'
            td= link_to 'Deny friend', user_invite_path(current_user, invite, status: :denied), method: :put, class: 'btn btn-warning'
      = paginate(@pending_invites)
