.box.col-md-12
  .box-header
    h2 All friends
  .box-content

    table.table.table-striped.table-bordered
      thead
        th Email
        th
      tbody
        - @friends.each do |friend|
          tr
            td= friend.email
