.box.col-md-12
  .box-header
    h2 All users
  .box-content

    table.table.table-striped.table-bordered
      thead
        th Email
        th
      tbody
        - @users.each do |user|
          tr
            td= user.email
            - unless current_user.invite_sent?(user.id)
              td= link_to 'Add friend', user_invites_path(user), method: :post, class: 'btn btn-primary'
            - else
              td= link_to 'Invite sent', '', class: 'btn btn-success'
      = paginate(@users)
