.box.col-md-12
  .box-header
    h2 My transactions
  .box-content
    br
    = link_to 'New transaction', new_transaction_path, class: "btn btn-primary"

    br
    table.table.table-striped.table-bordered
      thead
        th Sender
        th Receiver
        th Amount
        th My balance
        th Date
      tbody
        - @transactions.each do |transaction|
          tr
            td= transaction.sender.email
            td= transaction.receiver.email
            td= transaction.amount
            td= (current_user == transaction.sender) ? transaction.sender_balance : transaction.receiver_balance
            td= format_datetime(transaction.created_at)
      = paginate(@transactions)
