.box.col-md-12
  .box-header
    h2 New Transaction
  .box-content
    = simple_form_for @transaction, html: { novalidate: false } do |f|
      = f.association :receiver, collection: User.all.where("id != ?", current_user.id), label_method: :email, value_method: :id, prompt: 'Select receiver', required: true
      = f.input :amount, required: true

      .form-actions
        = f.button :submit, class: 'btn-primary', data: { disable_with: 'Transaction in progress...' }
