.box.col-md-12
  .box-header
    h2 Add initial balance
  .box-content
    = simple_form_for current_user, url: profile_path, method: :put, html: { novalidate: false } do |f|
      = f.input :current_balance, required: true

      .form-actions
        = f.button :submit, class: 'btn-primary'
