.box.col-md-12
  .box-header
    h2 My profile
  .box-content
    = link_to "Edit balance", edit_profile_path(current_user), class: 'btn btn-primary'
  table.table.table-striped.table-bordered
    thead
      th Email
      th Balance
      th Sent transactions
      th Money sent
      th Received transactions
      th Money received
      th Friends invited by me
      th Friends who invited me
      th Total number of friends

    tbody
      tr
        td= current_user.email
        td= current_user.current_balance
        td= current_user.outgoing_transactions.count
        td= current_user.outgoing_transactions.sum(:amount)
        td= current_user.incoming_transactions.count
        td= current_user.incoming_transactions.sum(:amount)
        td= current_user.friends_invited_by_me.count
        td= current_user.friends_who_invited_me.count
        td= current_user.all_friends.count
