nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand href="#" Navbar
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item
        = link_to 'My profile', profile_index_path, class: 'nav-link'
      li.nav-item
        = link_to 'Transactions', transactions_path, class: 'nav-link'
      li.nav-item
        = link_to 'Users', users_path, class: 'nav-link'
      li.nav-item
        = link_to 'Friends', friends_path, class: 'nav-link'
      li.nav-item
        = link_to 'Pending invites', user_invites_path(current_user), class: 'nav-link'
      li.nav-item
        = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
