doctype html
html
  head
    title SimpleBillingWebApp
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  body
    - if user_signed_in?
      = render 'layouts/nav'
    - flash.each do |key, value|
      p class="alert alert-#{alert_class(key.to_sym)}" = value

    = yield
